## Visual Studio & .NET Build Artifacts
**/[Bb]in/
**/[Oo]bj/
publish/
[Dd]ebug/
[Rr]elease/

## Visual Studio Cache & User Settings
.vs/
*.user
*.userosscache
*.sln.docstates

## JetBrains & IDE
.idea/
*.suo

## Temporary / Logs
*.log
.gemini/
